<div class="mb-3">
  <!-- Barra de búsqueda -->
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="¿Qué estás buscando?"
      [(ngModel)]="searchText"
      (input)="onSearchTextChange()"
    />
    <span class="input-group-text">
      <i class="fas fa-search"></i>
    </span>
  </div>
</div>

<!-- Filtro por categorías -->
<div class="mb-3">
  <label class="text-muted">También podés filtrar por categorías:</label>
  <div
    class="d-flex flex-wrap gap-2 mt-2"
    *ngIf="categorias && categorias.length > 0"
  >
    <ng-template ngFor let-categoria [ngForOf]="categorias">
      <input
        type="checkbox"
        class="btn-check"
        id="btncheck{{ categoria.id }}"
        autocomplete="off"
        (change)="onCategoriaChange(categoria)"
        [checked]="isSelected(categoria)"
      />
      <label
        class="btn btn-sm btn-outline-secondary"
        for="btncheck{{ categoria.id }}"
      >
        {{ categoria.name }}
      </label>
    </ng-template>
  </div>
</div>
