<!-- Botón para volver a la lista de productos -->
<a
  class="btn btn-secondary"
  [routerLink]="['/productos']"
  aria-label="Volver a la lista de productos"
>
  <fa-icon [icon]="faAngleLeft"></fa-icon>
  <span class="d-none d-md-inline"> Volver</span>
</a>

<!-- Tabla de detalles del producto -->
<table class="table table-striped" *ngIf="producto">
  <tbody>
    <!-- Fila de ID del producto -->
    <tr>
      <th scope="row">#</th>
      <td>{{ producto.id }}</td>
    </tr>

    <!-- Fila del nombre del producto -->
    <tr>
      <th scope="row">Nombre</th>
      <td>{{ producto.name }}</td>
    </tr>

    <!-- Fila del precio -->
    <tr>
      <th scope="row">Precio</th>
      <td>
        {{
          producto.price ? (producto.price | currency) : "Precio no disponible"
        }}
      </td>
    </tr>

    <!-- Fila de la categoría -->
    <tr>
      <th scope="row">Categoría</th>
      <td>{{ producto.categoryId }}</td>
    </tr>

    <!-- Fila de la valoración -->
    <tr>
      <th scope="row">Valoración</th>
      <td>
        <bar-rating
          [rate]="producto.score"
          max="5"
          readonly="true"
        ></bar-rating>
      </td>
    </tr>

    <!-- Fila de la imagen del producto -->
    <tr>
      <th scope="row">Imagen</th>
      <td>
        <div *ngIf="producto.imageUrl; else sinImagen">
          <img
            [src]="producto.imageUrl"
            class="img-fluid"
            alt="Imagen del producto"
          />
        </div>
        <ng-template #sinImagen>
          <div class="alert alert-info" role="alert">
            No hay imagen disponible para este producto.
          </div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
