<!-- Top Navigation Bar -->
<header>
  <app-topnav></app-topnav>
</header>

<!-- Main Content Area -->
<main
  class="container-fluid py-4"
  style="min-height: 100vh; display: flex; flex-direction: column"
>
  <!-- Dynamic routing for components -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="text-center py-3 mt-auto bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
          <h5>Sobre el autor</h5>
          <p>© 2024 Alumno José Manuel Machado</p>
          <p>
            Desarrollador Full Stack | Experto en Java, Spring Boot, Angular y
            más
          </p>
        </div>
      </div>
    </div>
  </footer>
</main>
