<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg" style="width: 24rem">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Registro de usuario</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Usuario -->
        <div class="mb-3">
          <label for="username" class="form-label">Usuario:</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
              formControlName="username"
              [class.is-invalid]="
                registerForm.controls['username'].invalid &&
                registerForm.controls['username'].touched
              "
            />
          </div>
          <div
            class="invalid-feedback"
            *ngIf="registerForm.controls['username'].touched && registerForm.controls['username']?.errors?.['required']"
          >
            Este campo es obligatorio.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="registerForm.controls['username'].touched && registerForm.controls['username']?.errors?.['minlength']"
          >
            Debe tener al menos 5 caracteres.
          </div>
        </div>

        <!-- Contraseña -->
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña:</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              formControlName="password"
              [class.is-invalid]="
                registerForm.controls['password'].invalid &&
                registerForm.controls['password'].touched
              "
            />
          </div>
          <div
            class="invalid-feedback"
            *ngIf="registerForm.controls['password'].touched && registerForm.controls['password']?.errors?.['required']"
          >
            Este campo es obligatorio.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="registerForm.controls['password'].touched && registerForm.controls['password']?.errors?.['minlength']"
          >
            Debe tener al menos 5 caracteres.
          </div>
        </div>

        <!-- Confirmar contraseña -->
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Repetir Contraseña:</label
          >
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              class="form-control"
              formControlName="confirmPassword"
              [class.is-invalid]="
                registerForm.controls['confirmPassword'].invalid &&
                registerForm.controls['confirmPassword'].touched
              "
            />
          </div>
          <div
            class="invalid-feedback"
            *ngIf="registerForm.controls['confirmPassword'].touched && registerForm.controls['confirmPassword']?.errors?.['required']"
          >
            Este campo es obligatorio.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="registerForm.controls['confirmPassword'].touched && registerForm?.errors?.['mismatch']"
          >
            Las contraseñas ingresadas no coinciden.
          </div>
        </div>

        <!-- Botón de registro -->
        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="!registerForm.valid"
        >
          <i class="fas fa-user-plus"></i> Registrarme
        </button>

        <!-- Enlace a login -->
        <p class="text-center mt-3">
          ¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión aquí</a>.
        </p>
      </form>
    </div>
  </div>
</div>
